name: Docker Test
on: push
jobs:
    test-docker-container:
        runs-on: ubuntu-latest
        container:
            image: node:25-alpine3.22
            env:
              NODE_ENV: development
            ports:
              - 80
        steps:
            - name: Display Node Version
              run: |
                node -v
                cat /etc/os-release