name: Sixteenth Workflow
on: push
jobs:
    testing-matrix-job:
        strategy:
            matrix:
                node-version: [12, 14, 18]
        runs-on: ubuntu-latest
        steps:
            - run: node -v
            - uses: actions/setup-node@v6
              with:
                node-version: ${{ matrix.node-version }}
            - run: node -v
