name: Thirteenth Workflow
on: push

jobs: 
    # failure() success() always() - true anyway cancelled() - true если мануально завершен job
    job:
      runs-on: ubuntu-latest
      steps: 
        - name: Failure Step
          id: error-step
          run: exit 1
        - name: First Step
          run: sleep 30
        - name: Runs on Cancelled
          if: ${{ cancelled() }}
          run: echo "Runs on Cancelled"
        - name: Runs on any case (always)
          if: ${{ always() }}
          run: echo "Runs on any case(always)"
        - name: Runs on Success
          if: ${{ success() }}
          run: echo "Runs on Success"
        - name: Runs on Failure
          if: ${{ failure() && steps.error-step.conclusion == 'failure' }}
          run: echo "Runs on Failure"
    second-job:
      runs-on: ubuntu-latest
      needs: job
      if: ${{ failure() }}
      steps:
        - run: echo "job was failed"
